# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
fixed-width-dark/vendors/bower_components/pdfmake/libs/
fixed-width-light/vendors/bower_components/pdfmake/libs/
full-width-dark/vendors/bower_components/pdfmake/libs/
full-width-light/vendors/bower_components/pdfmake/libs/
rtl-dark/vendors/bower_components/pdfmake/libs/
